.row, .col-md-2, .col-md-10{
    margin: 0;
    padding:0;
}
.newNoteOuterDiv{
    //text-align: center;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


textarea, select, input, button { outline: none; }