.singleNoteModal{
    position: absolute;
    top: 5%;
    left: 30%;
    right: 25%;
    height: auto;
    border: none;
    box-shadow: 0 0 10px #ABB2B9;
    background-color: white;
    transition: 0.4s;
    color: black;
    //padding-bottom: 20px;
    z-index: 999;
}
.singleNoteOverlayModal{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("singleNoteModalBack.png");
    //background-repeat: no-repeat;
    background-size: contain;
}

.singleNoteTitleText{
    border: none;
    font-size: 1.5em;
    background: transparent;
    color: white;
    font-weight: bold;
    width: 70%;
}

.singleNoteTitleWrapper{
    background-color: #424242;
    padding: 10px;
    color: white;
}

.tagIconSingle{
    font-size: 1.2em;
    color: #D7DBDD;
    margin-top: 3px;
}

.tagIconSingle:hover{
    cursor: pointer;
}

.shareNoteWrapper{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.shareNoteMessageWrapper{
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.shareNoteBtn{
    background-color: #58D68D;
    border: 1px solid #58D68D;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.4s;
}

.shareNoteBtn:hover{
    background-color: white;
    color: #58D68D;
    cursor: pointer;
}

.saveChangesBtnWrapper{
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.saveMsg{
    color: #58D68D;
    font-weight: bold;
    margin-right: 5px;
    font-size: 0.8em;
}

.saveChangesBtn{
    background-color: #58D68D;
    border:1px solid #58D68D;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8em;
    padding: 3px 5px;
    transition: 0.4s;
}

.saveChangesBtn:hover{
    background-color: white;
    color: #58D68D;
    cursor: pointer;
}

.deleteBtn{
    margin-left: 5px;
    background-color: #EC7063;
    border:1px solid #EC7063;
}

.deleteBtn:hover{
    background-color: white;
    color: #EC7063;
    cursor: pointer;
}

.deltetedMsg{
    padding: 10%;
    text-align: center;
    color: #EC7063;
    font-weight: bold;
    font-size: 1.2em;
}

#popup {
    display: none;
}

