.userForm{
    width: 400px;
}

.formField{
    margin-bottom: 30px;
}

.saveBtn{
    //background: none;
    outline: none;
    border: 1px solid #1976d2;
    background-color: #1976d2;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.4s;
}

.saveBtn:hover{
    cursor: pointer;
    background-color: white;
    color: #1976d2;
}
.uformLabel{
    color: #808B96;
}

.successMsg{
    color: #2ECC71;
    font-size: 0.9em;
    margin-top: 10px;
}

